test/fixtures/incident-blueprint/state-machines/add-docs.json
{
  "Comment": "Gets the incidents in progress.",
  "name": "Incidents in Progress",
  "version": "1.0",
  "categories": [
    "iip"
  ],
  "instigators": [
    "user"
  ],
  "StartAt": "GetStuff",
  "States": {
    "GetStuff": {
      "Type": "Task",
      "InputPath": "$.id",
      "Resource": "module:findingById",
      "ResourceConfig": {
        "modelId": "incident"
      },
      "ResultPath": "$.incidents",
      "Next": "FormatDocs"
    },
    "FormatDocs": {
      "Type": "Map",
      "InputPath": "$",
      "ItemsPath": "$.incidents",
      "Iterator": {
        "StartAt": "Shape",
        "States": {
          "Shape": {
            "Type": "Pass",
            "Parameters": {
              "id.$": "States.Format('inc#{}', $.incNo)",
              "docId.$": "$.incNo",
              "domain": "search",
              "docType": "incident",
              "title.$": "$.incNo",
              "description.$": "$.description",
              "category": "IIP",
              "activeEvent": true,
              "author": "incident",
              "roles.$": "States.Array('$authenticated', 'role1')",
              "language": "ENG",
              "sortString.$": "$.incNo",
              "classification": "C",
              "icon": "car-accident.png",
              "synopsis.$": "$.description",
              "x": "0",
              "y": "0",
              "created": "$NOW",
              "modified": "$NOW"
            },
            "OutputPath": "$.solrDoc",
            "ResultPath": "$.solrDoc",
            "End": true
          }
        }
      },
      "ResultPath": "$.incidentSolrDocs",
      "Next": "AddDocs"
    },
    "AddDocs": {
      "Type": "Task",
      "Resource": "module:addDocs",
      "InputPath": "$.incidentSolrDocs",
      "ResultPath": "$.incidentSolrDocs",
      "End": true
    }
  },
  "restrictions": [
    {
      "roleId": "$authenticated",
      "allows": [
        "*"
      ]
    }
  ]
}
